<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rahul.myotpgeneration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignupActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupVerificationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <uses-library android:name="com.google.android.maps" />

        <!-- google maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPLMU1KtW833-GTWnTGxt0SQFqbOFRXLM" />

        <!-- push on feature -->

        <receiver
            android:name=".PushOnReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.vnurture.vihas.smartcabfuelcard.PUSH_ON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="com.vnurture.vihas.smartcabfuelcard.EMAIL_SEND_FLAG" />
                <action android:name="com.vnurture.vihas.smartcabfuelcard.EXISTING_FILE_SEND" />
            </intent-filter>
        </receiver>

        <service android:name=".PushOnService" />
        <service
            android:name=".PushOnJobService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name=".FileWatcherService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

        <activity android:name=".Welcome"></activity>
    </application>

</manifest>